<table align="CENTER" width="100%" border="0" cellspacing="0" cellpadding="0" class="main">
	<tr>
		<td align="left" height="30" class="data_td_bg">
			&nbsp;&nbsp;&nbsp;管理导航：&nbsp;&nbsp;<a href="/admin/flashpics/index">FlashPic管理</a>
			&nbsp;|&nbsp; <a href="/admin/flashpics/new">FlashPic添加</a>
		</td>
	</tr>
</table>
<table align="CENTER" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="CENTER" valign="MIDDLE">&nbsp;</td>
	</tr>
</table>
<%= form_for([:admin, @flashpic], :html => {:multipart => true}) do |f| %>
<table width="100%" border="0" cellspacing="1" cellpadding="2" bgcolor="#CCCCCC">
	<tr>
		<td class="top-nav" bgcolor="#2E9AC8" height="28" colspan="2">&nbsp;&nbsp;&nbsp;<img src="/images/admin/arr_right.gif">&nbsp;&nbsp;
		<strong>修改</strong></td>
	</tr>
	<tr>
		<td class="data_td_label" width="15%" align="RIGHT">标题：</td>
		<td class="data_td_text"><input type="text" value="<%= @flashpic.title %>" name="flashpic[title]" id="flashpic_title" class="input_text" onFocus="fEvent('focus',this)" onBlur="fEvent('blur',this)" onMouseOver="fEvent('mouseover',this)" onMouseOut="fEvent('mouseout',this)">
		</td>
	</tr>
	<tr>
		<td class="data_td_label" width="15%" align="RIGHT">图片：</td>
		<td class="data_td_text"><input type="file" value="" name="flashpic[image]" id="flashpic_image" class="input_text" onFocus="fEvent('focus',this)" onBlur="fEvent('blur',this)" onMouseOver="fEvent('mouseover',this)" onMouseOut="fEvent('mouseout',this)">
		</td>
	</tr>
	<tr>
		<td class="data_td_label" width="15%" align="RIGHT">链接：</td>
		<td class="data_td_text"><input type="text" value="<%= @flashpic.url %>" name="flashpic[url]" id="flashpic_url" class="input_text" onFocus="fEvent('focus',this)" onBlur="fEvent('blur',this)" onMouseOver="fEvent('mouseover',this)" onMouseOut="fEvent('mouseout',this)">
		</td>
	</tr>
	<tr>
		<td bgcolor="#FFFFFF" colspan="2" align="CENTER" height="30">
			<input type="submit" name="submit" value="提交" class="btn_ok">
		</td>
	</tr>
</table>
<% end %>