
<div class="position">当前位置： &gt; <a href="/">网站首页</a> &gt; <span>发布信息</span></div>
<div id="Side">
	<div class="box">
		<div style="margin:20px 20px 20px 20px;line-height:20px;">
		用户应在适当的栏目或地区发布信息，所发布信息内容必须真实可靠，用户对其自行发表、上传或传送的内容负全部责任。
		</div>
	</div>
</div>
<div id="Main">
	<div class="box">
		<div class="box_title clearfix"><h5>发布信息</h5></div>
		<div style="margin:80px 0 300px 0;padding-left:200px;">
			<p style="font-size:18px;font-weight:bold;color:#FF0000;"><img src="/images/img_zcok.jpg" />发布成功！&nbsp;&nbsp;<a href="<%= @topic.show_url %>">点击查看帖子</a></p>
		</div>
	</div>
</div>