/* CSS Document */

.flashpics{float:left;display:inline;padding:10px;width:400px;height:300px;background:#f0ebe5;margin-top:10px;margin-left:0px;}
	.flashpics img{width:398px;height:250px;}
/*---------------------------------------------------------------------------------*/
/* FEATURED CONTENT SLIDER */
/*---------------------------------------------------------------------------------*/
#loopedSlider { float:left; background:#F0EBE5; width:400px; position:relative; clear:both; border:1px solid #ECEDE8; }
#loopedSlider .featured-thumb { margin:0 0 4px 0; }
.entry-title {line-height:26px;height:26px;width:360px;text-align:center;overflow:hidden; font-family:Georgia,serif; font-size:16px; font-weight:bold; }
.entry-title a {color:#004276;}
#loopedSlider .container { width:400px; height:288px; overflow:hidden; position:relative; }
#loopedSlider .slides { position:absolute; top:0; left:0; }
#loopedSlider .slides div { position:absolute; top:0; width:400px; display:none; }
#loopedSlider ul.slider_pagination { list-style-type:none; margin:0px auto 0px auto; padding:0; }
#loopedSlider ul.slider_pagination li { float:left; margin:0 7px; display:inline; }
#loopedSlider ul.slider_pagination a { display:block; width:12px; padding-top:12px; height:0; overflow:hidden; background-image:url(/images/slidernav.png); background-position:0 0; background-repeat:no-repeat; }
#loopedSlider ul.slider_pagination a:hover { background-position:0 -12px; }
#loopedSlider ul.slider_pagination li.active a { background-position:0 -23px }

.new_topics{float:right;display:inline;width:326px;}

.box_categories{float:left;width:176px;height:160px;padding:10px 0 0 10px;}
	.box_c_title{padding-left:10px;height:16px;line-height:16px;}
		.box_c_title a{color:#FFF;font-size:12px;font-weight:bold;}
	.title_01{background:#9DC663;}
	.title_02{background:#DCBF5C;}
	.title_03{background:#F8C3C4;}
	.title_04{background:#95AEE5;}
	.title_05{background:#AAA;}
		.box_c_items{padding:6px 0 0 4px;}
		.box_c_items li{height:22px;line-height:22px;color:#CCC;}

.publish_tb{ border-collapse:collapse;}
	.publish_tb td{vertical-align:top;line-height:25px;padding:8px 0;}
.publish_tb_label{width:60px;padding-left:20px !important;}
.publish_tb_label2{width:150px;padding-right:10px !important;text-align:right;}
.select_nodes{line-height:25px;}
	.select_nodes a{margin-right:20px;color:#333;}
	.select_nodes a.current{color:#006FFD;}
.select_categories{border:1px solid #CCC;padding:10px 0;line-height:25px;}
	.select_categories span{float:left;display:block;margin-left:10px;}
	.select_categories input{margin-right:4px;}
.pub_select{padding:1px 2px;font-size:12px;}
.pub_text{width:560px;height:200px;padding:4px;line-height:22px;font-size:12px;}
.pub_input{padding:4px 2px;width:300px;font-size:12px;}
.pub_file{width:120px;padding:4px 2px;font-size:12px;}
.pub_submit{padding:8px 50px;font-size:14px;}

.topic_images_upload{padding:0 0px 0 40px;}
	.topic_images_upload li{float:left;display:inline;width:177px;}
	.img_preview{border:1px solid #EEE;width:120px;height:120px;margin-bottom:10px;}
	.img_preview img{width:120px;height:120px;}

.iInput{padding:4px 6px;font-size:12px;width:200px;}

.news_list_ul{padding:20px 60px;}
	.news_list_ul li{height:30px;line-height:30px;padding-left:6px;background:url(/images/arr.gif) no-repeat left center;}
	.news_list_ul li span{float:right;padding-right:20px;color:#999;}
.topic_title{font-size:18px;font-weight:bold;text-align:center;padding:20px 0;}
.topic_date{font-size:12px;color:#999;text-align:center;}
.topic_content{line-height:22px;font-size:14px;padding:20px 60px;}

.node_block{padding:20px 0;}
	.node_block h2{padding-left:60px;font-size:18px;font-weight:bold;color:#FF0000;}
	.node_block ul{padding:20px 60px 0 60px;}
	.node_block ul li{float:left;display:inline;width:200px;line-height:30px;}
.thead{height:30px;line-height:30px;background:#FBFBFB;border-bottom:1px solid #EBEBEB;}
.topics_list_ul{padding:20px 46px;}
	.topics_list_ul li{height:60px;line-height:60px;padding:0 12px;border-bottom:1px solid #EBEBEB;}
	.topics_list_ul li:hover{background:#FBFBFB;}
	.topics_list_ul li a{color:#FF0000;font-size:14px;font-weight:bold;text-decoration:underline;}
	.topics_list_ul li span{float:right;color:#666;}

.topic_block{padding:15px;}
.topic_info{}
.topic_info li{font-size:14px;line-height:23px;}
.topic_info li span{font-weight:bold;}
.topic_txt{border-top:1px solid #EBEBEB;padding:20px 20px;margin-top:10px;line-height:22px;font-size:14px;}
.topic_note{font-size:16px;font-weight:bold;line-height:22px;}

.box_post_new{padding:20px 80px;}
.box_post_item{padding-top:10px;}
	.box_post_label{float:left;display:inline;width:80px;font-size:14px;font-weight:bold;}
	.box_post_input{float:left;display:inline;width:500px;}
		.box_post_input input{padding:2px 2px;width:600px;font-size:12px;}
		.box_post_input textarea{padding:2px 2px;width:600px;height:360px;font-size:12px;line-height:22px;}
.box_post_submit{text-align:left;padding:20px 80px;}
.box_post_submit input{padding:8px 20px;font-size:12px;}

/** posts
*************************************/
.posts_list{}
	.posts_list .thead{height:30px;line-height:30px;background:#FBFBFB;border-bottom:1px solid #EBEBEB;}
		.posts_list .td_m{float:left;display:inline;text-align:center;}
		.posts_list .post_title{width:600px;}
		.posts_list .post_author{width:100px;}
		.posts_list .post_time{width:100px;}
		.posts_list .post_hits{width:100px;}
	.tboby{}
		.item_block{height:40px;line-height:40px;border-bottom:1px solid #EBEBEB;}
		.item_a{float:left;display:inline;width:560px;text-align:left;padding-left:40px;background:url(/images/forum_topics.gif) no-repeat 10px -63px;}
		.item_b{float:left;display:inline;width:100px;}
		.item_c{float:left;display:inline;width:100px;}
		.item_d{float:left;display:inline;width:100px;}
		.item_d span{color:#C60;}
.posts_list .paginate{height:30px;line-height:30px;padding-left:20px;}

.post_table{width:100%;border:0; border-collapse:collapse;}
	.post_user{width:168px;background:#FCFCFC; vertical-align:top;padding:20px 0 0 20px;}
	.post_user p{line-height:22px;}
	.post_table .post_time{padding-left:8px;height:22px;line-height:22px;border-bottom:1px solid #EBEBEB;}
		.post_table .post_time span{float:right;padding-right:8px;}
	.post_content{padding:10px 20px;line-height:22px;font-size:12px;}
	.post_blank{height:22px;line-height:22px;background:#FAFAFA;}
	.post_oper{padding-right:8px;text-align:right;background:#FBFBFB;}
		.post_oper a{color:#333;}
.post_buttons{padding:10px 20px;}
.post_post_new{padding:20px 0;}
	.post_new_label{float:left;display:inline;width:100px;padding-top:40px;text-align:center;}
	.post_new_input{float:left;display:inline;width:600px;}
		.post_new_input textarea{width:500px;height:120px;}
	.post_submit{margin-left:100px;margin-top:10px;}
	.post_submit input{padding:6px 20px;}

