
<div class="position">当前位置： &gt; <a href="/">网站首页</a> &gt; <span>注册</span></div>
<div id="Side">
</div>
<div id="Main">
	<div class="box">
		<div class="box_title">
			<b style="font-family:黑体;">恭喜您，注册成功！</b>
		</div>
		<div style="padding:60px 0 120px 80px;">
			您已成功注册!
		</div>
	</div>
</div>